<% layout ('./layouts/boilerplate') %>
<link rel="stylesheet" href="/styleSheets/home.css">
    <div class="cover-container d-flex w-100 p-3 mx-auto flex-column">
        <div class="px-3 d-flex flex-column maintext mb-5">
            <h1>YelpCamp</h1>
            <h5>Hello from Yelp Camp!</h5>
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Atque non fugiat itaque perspiciatis? Voluptatibus nemo, 
                inventore cupiditate<br> labore praesentium est quasi, amet debitis ducimus eveniet, itaque atque odio ea totam?
            </p>
        </div>
        
    </div>
