<% layout ('./layouts/boilerplate') %>
<div class="container justify-content-center align-items-center mt-3">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow mb-5">
                <div class="card-body">
                    <img src="https://images.unsplash.com/photo-1568576550491-185584b2145a?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="welcome" class="card-img-top img-fluid h-25" crossorigin="anonymous">
                    <h5 class="card-title mt-1">Login</h5>
                    <form action="/login" class="validated-form" method="POST" novalidate>
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" id="username" name="username" class="form-control" required autofocus>
                            <div class="valid-feedback">
                                Make sense!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" id="password" name="password" class="form-control"  required>
                            <div class="valid-feedback">
                                Make sense!
                            </div>
                        </div>
                        <button class="btn btn-success btn-block">login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>